# **************************************************************************** #
#                                                                              #
#                                                         :::      ::::::::    #
#    .gitignore                                         :+:      :+:    :+:    #
#                                                     +:+ +:+         +:+      #
#    By: bapmarti <bapmarti@student.42.fr>          +#+  +:+       +#+         #
#                                                 +#+#+#+#+#+   +#+            #
#    Created: 2019/11/06 14:35:09 by bapmarti          #+#    #+#              #
#    Updated: 2019/11/09 19:57:12 by bapmarti         ###   ########.fr        #
#                                                                              #
# **************************************************************************** #

.DS_Store
**/a.out
**/main_test.c
libft.a
/obj
test
