# **************************************************************************** #
#                                                                              #
#                                                         :::      ::::::::    #
/*   .gitignore                                         :+:      :+:    :+:   */
#                                                     +:+ +:+         +:+      #
#    By: bapmarti <bapmarti@student.42.fr>          +#+  +:+       +#+         #
#                                                 +#+#+#+#+#+   +#+            #
#    Created: 2019/11/06 14:35:09 by bapmarti          #+#    #+#              #
/*   Updated: 2021/02/28 21:55:59 by baptiste         ###   ########.fr       */
#                                                                              #
# **************************************************************************** #

.DS_Store
**/a.out
libft.a
**/*.o
